/*reset*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    /*debug*/
    /* background-image: url(/img/dropbox-small.jpg);  */
    background-size: cover;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    min-height: 30px;
    /*debug*/
    /* background-color: rgba(0, 255, 255, 0.639); */
    /* border: 2px solid black; */
}

ul {
    padding: 25px;
    list-style-type: none;
    display: flex;
}

.logo {
    max-width: 90%;
}

a {
    font-size: 1em;
    margin: 20px;
    text-decoration: none;
}

#inizia {
    margin-top: -30px;
}

.hero {
    /*debug*/
    min-height: 69vh;
    /* border: 2px solid black; */
    background-color: #b4d0e6;
}

.t-hero {
    font-size: 3em;
    line-height: 2em;
    margin-top: 50px;
    padding-left: 40px;
    /*debug*/
    /* min-height: 22vh; */
}

.t-plans {
    font-size: 1.5em;
    /*debug*/
    margin-top: 60px;
    margin-bottom: 50px;
    min-height: 5vh;
    /*debug*/
    /* border: 2px solid black; */

}

.t-partners {
    /*debug*/
    margin-top: 90px;
    margin-bottom: 30px;
    min-height: 15vh;
    /* border: 1px solid black; */
}

.title-card {
    font-size: 1em;
}

#radio {
    font-size: 1em;
    margin-bottom: 30px;

}

.up {
    padding-left: 50px;
    padding-top: 40px;
}

.down {
    padding-left: 50px;
    padding-top: 40px;
}



.plans {
    /*debug*/
    min-height: 145vh;
    /* border: 2px solid black;
    background-color: rgba(240, 248, 255, 0.411); */
}

.a-plans {
    text-decoration: underline;
}

#teams-block{
    border: 2px solid grey;
}

.s-white {
    /*debug*/
    min-height: 218vh;
    /* border: 2px solid black; */
    /* background-color: rgba(240, 255, 245, 0.411); */
}

.section-up {
    margin-top: 30px;
}

.footer {
    /*debug*/
    min-height: 50vh;
    border: 2px solid black;
    /* background-color: rgba(0, 221, 255, 0.4); */
}

.footer-end {
    margin-top: 50px;
    margin-left: 20px;
    /*debug*/
    max-width: 10vw;
    min-height: 15vh;
    border: 2px solid black;
    /* background-color: rgba(0, 221, 255, 0.4); */
}

.p-hero {
    /* padding-top: 40px;
    padding-left: 10px; */
    font-size: 0.9em;
    line-height: 1.5em;
}

.p-plans {
    font-size: 0.7em;
    line-height: 1.5em;
}

#team {
    position: relative;
}

#btn-plans {
    position: absolute;
    top: 0px;
    right: 10px;
}

/*UTILITIES*/
/*container*/

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1100px;
}

.small-container {
    margin: 0 auto;
    width: 60%;
    max-width: 900px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.col-80 {
    width: 80%;
    /*debug*/
    background-color: rgba(0, 0, 255, 0.416);
    min-height: 20vh;
    border: 2px solid black;
}

.col-70 {
    width: 70%;
    /*debug*/
    /* background-color: rgba(0, 0, 255, 0.416);
    min-height: 50vh;
    border: 2px solid black; */
}

.col-60 {
    width: 60%;
    /*debug*/
    /* background-color: rgba(0, 255, 64, 0.416); */
    min-height: 55vh;
    /* border: 2px solid black; */
}

.col-40 {
    width: 40%;
    /*debug*/
    /* background-color: rgba(0, 0, 255, 0.416); */
    min-height: 50vh;
    /* border: 2px solid black; */
}

.col-plans {
    width: calc((100% - 40px) / 3);
    min-height: 90vh;
    /*debug*/
    /* background-color: rgba(137, 43, 226, 0.395); */
    border: 2px solid grey;
}

.col-partners {
    width: calc((100% - 40px) / 3);
    /*debug*/
    /* background-color: rgba(137, 43, 226, 0.395); */
    min-height: 50vh;
    /* border: 2px solid black; */
    margin-bottom: 20px;
}

.col-footer {
    width: calc((100% - 40px) / 5);
    margin-top: 50px;
    /*debug*/
    /* background-color: rgba(137, 43, 226, 0.395); */
    min-height: 30vh;
    gap: 20px;
    border: 2px solid black;
}

.col-30 {
    width: 30%;
    /*debug*/
    /* background-color: rgba(0, 255, 64, 0.416);
    min-height: 20vh;
    border: 2px solid black; */
}

.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.-blue {
    padding: 0.4em 0.4em;
    background-color: #7289DA;
    color: white;
}

.-white{
    padding: 0.4em 0.4em;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.b-hero {
    margin-left: 0px;
}

#turn-down {
    font-size: 50px;
    padding-left: 30px;
    margin-top: 150px;
}

.text-center {
    text-align: center;
}

.p-left-30 {
    padding-left: 30px;
}
.p-top-30{
    padding-top: 30px;
}